.pagination {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font: 800 20px system-ui;
  display: flex;
  justify-content: space-between;
  color: #999;
  background-color: #000; }
  .pagination.hide {
    bottom: -20%; }
  .pagination .page__next, .pagination .page__prev {
    cursor: pointer;
    padding: 0 20px;
    transition: 500ms ease; }
    .pagination .page__next:hover, .pagination .page__prev:hover {
      color: #FC4107; }
