.pagination {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	font: 800 20px system-ui;
	display: flex;
	justify-content: space-between;
	color: #999;
	background-color: #000;
	.page {
		&__next,
		&__prev {
		cursor: pointer;
    padding: 0 20px;
    transition: 500ms ease;
	    &:hover {
	    	color: #FC4107;
	    }
	  }
	}
}