.mediaContainer {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  padding: 60px 0;
  transition: 500ms ease; }
  .mediaContainer .img__wrapper {
    position: relative;
    width: 20%;
    min-width: 200px;
    height: 200px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden; }
    .mediaContainer .img__wrapper:hover {
      background-size: contain; }
      .mediaContainer .img__wrapper:hover .img__info {
        bottom: 0;
        cursor: pointer; }
    .mediaContainer .img__wrapper.copied::after {
      content: "COPIED";
      position: absolute;
      bottom: 4px;
      right: 5px;
      font: 800 12px system-ui;
      color: #FFF; }
  .mediaContainer .img__info {
    position: absolute;
    bottom: -20%;
    width: 100%;
    padding: 5px 0;
    font: 800 10px system-ui;
    opacity: .8;
    background-color: #000;
    color: #FFF;
    text-align: center;
    transition: 500ms ease;
    border: none; }
    .mediaContainer .img__info:focus {
      outline: none; }
  .mediaContainer .oops {
    position: relative;
    width: 100%;
    padding: 20% 0 0;
    text-align: center;
    font: 800 40px system-ui;
    color: #333; }

@media (max-width: 1100px) {
  .mediaContainer .img__wrapper {
    width: 25%; } }

@media (max-width: 855px) {
  .mediaContainer .img__wrapper {
    width: 33%; } }

@media (max-width: 655px) {
  .mediaContainer .img__wrapper {
    width: 50%; } }

@media (max-width: 455px) {
  .mediaContainer .img__wrapper {
    width: 100%; } }
