
.definition {
	position: absolute;
	width: 100%;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	font: 800 50px serif;
	justify-content: center;
	align-items: center;
	color: #999;
	h1 {
    margin: 50px 0 0;
	}
	p {
		margin: 0 0 20px;
		font-size: 25px;
	}
	.copy {
		width: 50%;
		font: 400 12px serif;
		font-style: italic;
		letter-spacing: 1px;
		line-height: 1.5;
	}
}