.searchBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  align-items: top;
  display: flex;
  align-items: center;
  transition: 500ms ease;
  background-color: #333;
  box-shadow: 0px 3px 10px; }
  .searchBar.active {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); }
    .searchBar.active .search__wrapper {
      justify-content: center; }
    .searchBar.active .search__container {
      width: 50%;
      padding: 0 65px 0 0;
      border: none; }
      .searchBar.active .search__container label {
        top: 55px;
        font: 800 15px system-ui;
        text-align: left;
        color: #888; }
      .searchBar.active .search__container::before {
        height: 1px;
        bottom: -3px; }
    .searchBar.active .search__button {
      display: block; }
    .searchBar.active .search__history {
      right: 20px; }
    .searchBar.active .search__rating, .searchBar.active .search__current {
      display: none; }
  .searchBar .search__wrapper {
    position: relative;
    top: 0;
    right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .searchBar .search__container {
    position: relative;
    right: 10px;
    width: 270px;
    max-width: 500px;
    padding: 0;
    margin: 4px 0 0;
    border: 2px dotted #888;
    border-radius: 5px;
    transition: 1000ms; }
    .searchBar .search__container label {
      position: absolute;
      top: 4px;
      width: 270px;
      text-align: center;
      font: 800 35px system-ui;
      color: #666;
      letter-spacing: 1px;
      transition: 700ms ease; }
    .searchBar .search__container input {
      position: relative;
      width: 100%;
      font: 800 40px system-ui;
      color: #999;
      background-color: transparent;
      border: none; }
      .searchBar .search__container input:focus {
        outline: none; }
    .searchBar .search__container::before {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 0;
      background-color: #888; }
  .searchBar .search__button {
    position: absolute;
    bottom: 2px;
    right: 0px;
    height: 25px;
    padding: 4px 10px 1px;
    border: thin solid #999;
    border-radius: 4px;
    font: 800 20px system-ui;
    color: #999;
    text-align: center;
    display: none;
    cursor: pointer;
    transition: 500ms ease-in; }
    .searchBar .search__button:hover {
      color: #FFF;
      border: thin solid #FFF;
      background-color: #FC4107;
      transition: 300ms ease; }
    .searchBar .search__button.cancel {
      bottom: -39px; }
      .searchBar .search__button.cancel:hover {
        color: #000;
        border: thin solid #000;
        background-color: #FFF;
        transition: 300ms ease; }
  .searchBar .search__history {
    position: absolute;
    top: 0;
    right: -100%;
    transition: 1000ms ease;
    text-align: right; }
  .searchBar .search__rerun {
    font: 800 40px system-ui;
    line-height: 1.25;
    color: #444;
    opacity: 0.5;
    transition: 500ms ease;
    cursor: pointer; }
    .searchBar .search__rerun:hover {
      color: #FC4107;
      opacity: 1; }
  .searchBar .search__label {
    font: 800 40px system-ui;
    opacity: 1;
    color: #888; }
  .searchBar .search__current {
    position: absolute;
    bottom: 4px;
    left: 20px;
    font: 800 50px system-ui;
    color: #FFF; }
    .searchBar .search__current span {
      color: #FC4107; }
  .searchBar .search__info {
    position: relative;
    top: 5px;
    height: 29px;
    padding: 8px 13px 4px;
    margin: 0 0 0 10px;
    font: 800 25px system-ui;
    color: #FC4107;
    border: 5px solid #666;
    border-radius: 10px;
    line-height: 1;
    cursor: pointer; }
  .searchBar .search__rating {
    position: relative;
    min-width: 50px; }
    .searchBar .search__rating.open {
      display: block; }
      .searchBar .search__rating.open .search__rating {
        position: absolute; }
        .searchBar .search__rating.open .search__rating__selection {
          position: absolute;
          min-width: 50px; }
        .searchBar .search__rating.open .search__rating__option {
          position: relative;
          display: block;
          opacity: 1; }
    .searchBar .search__rating__selection {
      position: relative;
      top: 5px;
      right: 0px;
      padding: 6px 13px;
      font: 800 25px system-ui;
      color: #666;
      border: 5px solid #666;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      background-color: #333;
      transition: 500ms ease;
      white-space: nowrap; }
    .searchBar .search__rating__option {
      position: absolute;
      top: 0;
      opacity: 0;
      display: none; }
      .searchBar .search__rating__option.selected {
        position: relative;
        opacity: 1;
        color: #FC4107;
        display: block;
        z-index: 1; }
    .searchBar .search__rating__selected {
      display: none; }

@media (max-width: 1100px) {
  .searchBar .curSearchTerm {
    font-size: 25px; } }

@media (max-width: 855px) {
  .searchBar {
    height: 70px;
    flex-direction: column; }
    .searchBar .search__wrapper {
      right: 0;
      justify-content: center; }
    .searchBar .search__current {
      position: relative;
      top: 0;
      left: 0;
      font-size: 20px;
      padding: 5px 0 0; }
    .searchBar .search__container {
      height: 31px; }
      .searchBar .search__container label,
      .searchBar .search__container input {
        font-size: 20px; }
    .searchBar .search__rating {
      min-width: 30px; }
      .searchBar .search__rating__selection {
        padding: 1px 6px;
        font: 800 20px system-ui;
        border: 4px solid #666;
        border-radius: 7px; }
    .searchBar .search__info {
      height: 24px;
      padding: 0 6px;
      font: 800 20px system-ui;
      border: 4px solid #666;
      border-radius: 7px; }
    .searchBar .curSearchTerm {
      position: relative;
      top: 3px;
      left: 0;
      width: 100%;
      text-align: center; }
    .searchBar.active {
      flex-direction: row; } }
