.searchBar {
	position: absolute;
	width: 100%;
	height: 50px;
	align-items: top;
	display: flex;
	align-items: center;
	transition: 500ms ease;
	background-color: rgba(0,0,0,0);
	&.active {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.4);
		.search {
			&__container {
				width: 50%;
				label {
					top: 30px;
					font: 400 10px system-ui;
					color: #888;
				}
				&::before {
					bottom: -3px;
				}
			}
			&__submit {
				opacity: 1;
			}
		}
	}
	.search {
		&__wrapper {
			position: relative;
			top: 0;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&__container {
			position: relative;
			width: 150px;
			max-width: 500px;
			padding: 0 45px 0 0;
			margin: 20px 10px;
			transition: 1000ms;

			label {
				position: absolute;
				top: 0;
				font: 800 20px system-ui;
				color: #666;
				letter-spacing: 1px;
				transition: 700ms ease;
			}
			input {
				position: relative;
				font: 800 20px system-ui;
				color: #999;
				background-color: transparent;
		    border: none;
		    &:focus {
		    	outline: none;
		    }
			}
	    &::before {
	    	content: '';
	    	position: absolute;
	    	bottom: 0;
	    	width: 100%;
	    	height: 1px;
	    	background-color: #888;
	    }
		}
		&__submit {
			position: absolute;
			bottom: 2px;
			right: 0px;
			width: 40px;
			height: 18px;
			padding: 5px 0 0;
			border: thin solid #999;
			border-radius: 4px;
			font: 800 12px systyem-ui;
			color: #999;
			text-align: center;
			opacity: 0;
			cursor: pointer;
			transition: 800ms ease-in;
			&:hover {
				color: #FFF;
				border: thin solid #FFF;
			}
		}
	}
}
