$orange: #FC4107;

.searchBar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	align-items: top;
	display: flex;
	align-items: center;
	transition: 500ms ease;
	background-color: #333;
	box-shadow: 0px 3px 10px;

	// WHEN SEARCH BAR IS OPEN
	&.active {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.85);
		.search {
			&__wrapper {
				justify-content: center;
			}
			&__container {
				width: 50%;
				padding: 0 65px 0 0;
				border: none;
				label {
					top: 55px;
					font: 800 15px system-ui;
					text-align: left;
					color: #888;
				}
				&::before {
					height: 1px;
					bottom: -3px;
				}
			}
			&__button {
				display: block;
			}
			&__history {
				right: 20px;
			}
			&__rating,
			&__current {
				display: none;
			}
		}
	}

	// SEARCH BASE STATE
	.search {
		&__wrapper {
			position: relative;
			top: 0;
			right: 20px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
		&__container {
			position: relative;
			right: 10px;
			width: 270px;
			max-width: 500px;
			padding: 0;
			margin: 4px 0 0;
			border: 2px dotted #888;
			border-radius: 5px;
			transition: 1000ms;

			label {
				position: absolute;
				top: 4px;
				width: 270px;
				text-align: center;
				font: 800 35px system-ui;
				color: #666;
				letter-spacing: 1px;
				transition: 700ms ease;
			}
			input {
				position: relative;
				width: 100%;
				font: 800 40px system-ui;
				color: #999;
				background-color: transparent;
		    border: none;
		    &:focus {
		    	outline: none;
		    }
			}
	    &::before {
	    	content: '';
	    	position: absolute;
	    	bottom: -1px;
	    	width: 100%;
	    	height: 0;
	    	background-color: #888;
	    }
		}
		&__button {
			position: absolute;
			bottom: 2px;
			right: 0px;
			height: 25px;
			padding: 4px 10px 1px;
			border: thin solid #999;
			border-radius: 4px;
			font: 800 20px system-ui;
			color: #999;
			text-align: center;
			display: none;
			cursor: pointer;
			transition: 500ms ease-in;

			&:hover {
				color: #FFF;
				border: thin solid #FFF;
				background-color: $orange;
				transition: 300ms ease;
			}

			&.cancel {
				bottom: -39px;
				&:hover {
					color: #000;
					border: thin solid #000;
					background-color: #FFF;
					transition: 300ms ease;
				}
			}
		}
		&__history {
			position: absolute;
	    top: 0;
	    right: -100%;
	    transition: 1000ms ease;
	    text-align: right;
		}
		&__rerun {
			font: 800 40px system-ui;
			line-height: 1.25;
			color: #444;
			opacity: 0.5;
			transition: 500ms ease;
			cursor: pointer;
			&:hover {
				color: $orange;
				opacity: 1;
			}
		}
		&__label {
			font: 800 40px system-ui;
			opacity: 1;
			color: #888;
		}
		&__current {
			position: absolute;
			bottom: 4px;
			left: 20px;
			font: 800 50px system-ui;
			color: #FFF;
			span {
				color: $orange;
			}
		}
		&__info {
			position: relative;
	    top: 5px;
	    height: 29px;
	    padding: 8px 13px 4px;
	    margin: 0 0 0 10px;
	    font: 800 25px system-ui;
	    color: $orange;
	    border: 5px solid #666;
	    border-radius: 10px;
	    line-height: 1;
	    cursor: pointer;
		}
		&__rating {
			position: relative;
			min-width: 50px;
			&.open {
				display: block;
				.search__rating {
					position: absolute;
					&__selection {
						position: absolute;
						min-width: 50px;
					}
					&__option {
						position: relative;
						display: block;
						opacity: 1;
					}
				}
			}
			&__selection {
				position: relative;
				top: 5px;
				right: 0px;
				padding: 6px 13px;
				font: 800 25px system-ui;
				color: #666;
				border: 5px solid #666;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				cursor: pointer;
				background-color: #333;
				transition: 500ms ease;
		    white-space: nowrap;
			}
			&__option {
				position: absolute;
				top: 0;
				opacity: 0;
				display: none;
				// transition: 500ms ease;
				&.selected {
					position: relative;
					opacity: 1;
					color: $orange;
					display: block;
					z-index: 1;
				}
			}
			&__selected {
				display: none;
			}
		}
	}

}

@media (max-width: 1100px) {
	.searchBar {
		.curSearchTerm {
			font-size: 25px;
		}
	}
}

@media (max-width: 855px) {
	.searchBar {
		height: 70px;
		flex-direction: column;
		.search {
			&__wrapper {
				right: 0;
				justify-content: center;
			}
			&__current {
				position: relative;
				top: 0;
				left: 0;
				font-size: 20px;
				padding: 5px 0 0;
			}
			&__container {
				height: 31px;
				label,
				input {
					font-size: 20px;
				}
			}
			&__rating {
			    min-width: 30px;
				&__selection {
					padding: 1px 6px;
					font: 800 20px system-ui;
					border: 4px solid #666;
					border-radius: 7px;
				}
			}
			&__info {
				height: 24px;
				padding: 0 6px;
				font: 800 20px system-ui;
				border: 4px solid #666;
				border-radius: 7px;
			}
		}
		.curSearchTerm {
			position: relative;
			top: 3px;
			left: 0;
			width: 100%;
			text-align: center;
		}
		&.active {
			flex-direction: row;
			.curSearchTerm {
				// display: none;
			}
		}
	}
}